.section-insurance {
  .container {
    padding-top: rem-calc(130);
    padding-bottom: rem-calc(130);
  }

  &-image {
    max-width: 45%;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.3;

    @include media-breakpoint-up(sm) {
      opacity: 1;
    }
  }
}
